@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  border: 1px solid rgba(3, 154, 248, 0.5);
  border-radius: 5px;
  background-color: rgba(7, 193, 255, 0.555);
  color: rgb(8, 8, 8);
  text-align: center;
  padding: 5px;
}

button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.884);
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:checked + label {
  text-decoration: line-through;
  color: grey;
}